@charset "ISO-8859-1";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9; 

}

header {
    text-align: center;
    padding: 50px 20px;
    background-color: #4e8e4e; 
    color: white;
}

.mainp{
    padding-top: 70px;
}

header h1 {
    margin-bottom: 10px;
    font-size: 36px;
}

header p {
    font-size: 18px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contact-container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact-container h2 {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
}

.contact-container p {
    margin-bottom: 20px;
    color: #666;
}

.top {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff9b;
    color: #438c45;
    height: 70px;
    position: fixed;
    z-index: 1000;
}

.navbarcontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
    color: #071707;
}

.nav:hover {
    color: #78bd7b;
}

.navbar a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none; 
    color: inherit; 
}